<div class="mt-6 text-center">
  <%- if controller_name != 'sessions' %>
    <%= link_to "로그인", new_session_path(resource_name), class: "text-blue-500 hover:underline block mb-2" %><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "회원가입", new_registration_path(resource_name), class: "text-blue-500 hover:underline block mb-2" %><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "비밀번호를 잊으셨나요?", new_password_path(resource_name), class: "text-blue-500 hover:underline block mb-2" %><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "인증 이메일을 받지 못하셨나요?", new_confirmation_path(resource_name), class: "text-blue-500 hover:underline block mb-2" %><br />
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "잠금 해제 이메일을 받지 못하셨나요?", new_unlock_path(resource_name), class: "text-blue-500 hover:underline block mb-2" %><br />
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "#{OmniAuth::Utils.camelize(provider)}로 로그인", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded block w-full mb-2" %><br />
    <% end %>
  <% end %>
</div>