<div class="flex flex-col">
  <h1 class="font-bold text-2xl mb-4">새 채팅방 생성</h1>

  <%= form_with model: [:admin, @chat_room], class: "w-full max-w-lg" do |form| %>
    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4 flex items-center">
      <%= form.check_box :active, class: "mr-2 leading-tight" %>
      <%= form.label :active, "활성화", class: "text-sm" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "생성", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <%= link_to "뒤로", admin_chat_rooms_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %>
    </div>
  <% end %>
</div>